<body>
    {{ Core\Template.loadTemplate(shared/header.html)  }}


        
    <section class="banniere" id="banniere" style="background-image: url(./img/page_accueil.webp)">
        <div class="contenu">
           <h2>Bienvenue dans l'univers du <span>M</span>angas</h2> 
           <p>On vous propose de découvir des mangas incroyables et passionnants</p>
           <a href="" class="btn1">Nos Mangas</a>
           <a href="" class="btn2">Nos Auteurs</a>
        </div>
    </section>

    <section class="nosmangas" id="nosmangas">
        <div class="row">
            <div class="col50">
                <h2 class="titre-texte"><span>N</span>os Mangas</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequatur consequuntur aut sunt, recusandae facilis unde error reiciendis at deserunt consectetur itaque voluptas amet? Cum nemo animi autem at quis.
                    Dolore temporibus explicabo, autem nemo quod, beatae perspiciatis doloribus aliquam distinctio tempore in quidem. Sunt optio dignissimos eos quam eius minima incidunt voluptate, sequi beatae? Veritatis dolores repudiandae reprehenderit at?
                    Nostrum numquam, hic perspiciatis sunt aliquam quaerat fugiat, ab ipsum ad possimus, dicta impedit natus provident blanditiis! Nisi vitae voluptatibus deleniti est, hic vero. Fugit neque voluptatibus ut nihil placeat!
                </p>
            </div>

            <div class="col50">
                <div class="img">
                    <img src="img/nos-mangas.jpg" alt="image">
                </div>
            </div>
        </div>
    </section>



    {{ Core\Template.loadTemplate(shared/footer.html)  }}

    
</body>
</html>