<body>

    {{ Core\Template.loadTemplate(shared/header.html)  }}
  
  
  
  
      <form action="/php_courses/user/profil" method="POST">
          <div class="mb-3">
            <label for="firstname" class="form-label">FirstName</label>
            <input  type="text" class="form-control" id="firstname" name="firstname" value="<?php echo $_SESSION['user']->firstname; ?>">
            <label for="lastNameInput" class="form-label">LastName</label>
            <input id="lastname" type="text" class="form-control" id="lastname" name="lastname"   value="<?php echo $_SESSION['user']->lastname; ?>">
            <label for="email" class ="form-label" >Mail</label>
            <input type="email" class="form-control" id="email" name="email" value="<?php echo $_SESSION['user']->email; ?>">
            <div class="mb-3">
            <label for="Password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
  
        {{ Core\Template.loadTemplate(shared/footer.html)  }}
  
  
  </body>
  </html>