<body>

  {{ Core\Template.loadTemplate(shared/header.html)  }}




    <form action="/php_courses/user/login" method="POST">
        <div class="mb-3">
          <label for="firstNameInput" class="form-label">FirstName</label>
          <input type="text" class="form-control" id="firstname" name="firstname">
          <label for="lastNameInput" class="form-label">LastName</label>
          <input type="text" class="form-control" id="lastname" name="lastname" >
          <label for="email" class="form-label" >Mail</label>
          <input type="email" class="form-control" id="email" name="email">
        <div class="mb-3">
          <label for="Password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>

      {{ Core\Template.loadTemplate(shared/footer.html)  }}


</body>
</html>